@import "tailwindcss";

@theme {
  --color-ettm-red: #dc2728;
  --color-ettm-blue: #164c88;
  --color-ettm-white: #ffffff;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
